@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body{
  background-color:#401e40;
  user-select: none;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.main {
  font-family: 'Quicksand', sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 600px;
  height: 250px;
  background-color: white;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  animation-name: floating;
  animation-duration:1s;
  animation-iteration-count: infinite;
}

.main img {
  height: 100%;
  width: 50%;
}

.main form {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.main form div *{
  background-color: #622b62;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  border: 0;
  font-family: 'Quicksand', sans-serif;
  padding:8px;
  width: 90%;
}


.main form div {
  display: block;
}

@media only screen and (max-width: 600px) {
  .main {
    width: 300px;
    height: 400px;
    display: block;
  }
  .main img{
    width: 100%;
    height: 40%;
  }
  .main form{
    width: 100%;
    height:60% ;
  }
}

@keyframes floating{
10%{margin-top: 100px;}
25%{margin-top: 105px;}
50%{margin-top: 107px;}
70%{margin-top: 108px;}
90%{margin-top: 105px;}
100%{margin-top: 100px;}
}

.main form div::after{
  content: 'Password Must Be Atleast 6 Characters';
  margin: 10px;
  font-size: 10px;
  color: black;
}

.main form div input[type='button']{
  font-family: 'Quicksand', sans-serif;
border-radius: 50px;
border: 0;
padding:6px;
}

h1{
  color: white;
  font-family: 'Quicksand', sans-serif;
  margin-left: auto;
  margin-right: auto;
}