body{
    color: white;
    align-items: center;
    justify-content: center;
}

nav{
    position: sticky;
    top: 0;
    background-color:#401e40;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div{
    display: flex;
}

nav img{
    height: 60px;

}
nav *{
    margin: 10px;
}
.🚀 img{
height: 300px;
width: 100%;
}
.🚀 div{
    background-color: purple;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.🚀{
    align-items: center;
    justify-content: center;
}
.🚀 span{
    margin: 10px;
    display: flex;
    align-items: center;
    

}
.🚀 span *{
    margin: 5px;
}
.rounded{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    font-size: 25px;
    padding: 10px;
    background-color: blueviolet;
    width: 20px;
    height: 20px;
}

input[type='file']{
    display: none;
    margin: 10px;
}
label{
    height: 100%;
    margin-bottom: 20px;
    background-color: purple;
    padding: 10px;
}

#upload-button{
    margin: 10px;
}

@media only screen and (max-width: 530px){
	nav div{
        display: block;
    }
    .🚀 div{
        width: 300px;
    }
}